<div class='contact-details'>
  <h1 class='contact-heading'>{{firstName}} {{lastName}}</h1>

  {{#link-to 'contactEdit' classNames='contact-edit btn btn-success'}}edit{{/link-to}}
  <button class='contact-delete btn btn-danger' {{action 'deleteContact'}}>delete</button>
</div>
