<h2 class="contacts-heading">contacts</h2>
<table class='contacts-list table'>
  <thead>
  <tr>
    <th>name</th>
    <th>emails</th>
    <th>actions</th>
  </tr>
  </thead>

  <tbody>
  {{#each}}
    <tr class='contact-item'>
      <td>{{#link-to 'contact' this}}{{firstName}} {{lastName}}{{/link-to}}</td>
      <td>{{email}}</td>
      <td>
        {{#link-to 'contactEdit' this classNames='contact-edit btn btn-success'}}edit{{/link-to}}
      </td>
    </tr>
  {{else}}
    <td colspan='3'>no contacts have been found</td>
  {{/each}}
  </tbody>
</table>
