<div class='container'>
  <div class='jumbotron'>
    <h1>
        Hello <a href='http://dwo.mikstura.it'>DWO</a>!<br>
        Hello <a href='http://mikstura.it'>mikstura.it!</a><br>
        Hello Bielsko-Biała!
    </h1>
    <p>Welcome to DWO Address Book.</p>
    <p><a href='/#/contacts' class='btn btn-primary btn-lg' role='button'>Start Hacking!</a></p>
  </div>
</div>
